.bg-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 29%;
}

.bg-overlay-70::before {
  position: absolute;
  content: '';
  background-color: rgba(43, 42, 61, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.bg-overlay-50::before {
  position: absolute;
  content: '';
  background-color: rgba(43, 42, 61, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.z-index-3 {
  z-index: 3 !important;
}

.border-photo {
  border: solid 5px rgba(200, 200, 200, 0.3);
  border-radius: 50% / 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.max-vw-80 {
  max-width: 80vw !important;
}

.font-monserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-marcellus {
  font-family: 'Marcellus', serif;
}

.font-dancing-script {
  font-family: 'Dancing Script', cursive;
}

.font-sans-serif {
  font-family: sans-serif, system-ui;
}

.font-mali {
  font-family: 'Mali', cursive;
}

.fs-big-1 {
  font-size: calc(2.7rem + 1.5vw) !important;
}

.fs-7 {
  font-size: 0.8rem !important;
}

.fs-8 {
  font-size: 0.75rem !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.bi-rotate-180::before {
  transform: rotate(180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.photo-crop-elipse-portrait {
  border: solid 5px rgba(200, 200, 200, 0.1);
  position: relative;
  width: 150px;
  height: 87px;
  border-radius: 50% / 50%;
  overflow: hidden;
  transform: rotate(-40deg);
}

.photo-crop-elipse-portrait img {
  position: absolute;
  left: 40%;
  top: 65%;
  transform: translate(-50%, -50%) rotate(40deg);
  min-width: 100%;
  min-height: 100%;
}

.bg-color-dark-semi-transparent {
  background-color: rgba(25, 25, 25, 0.8) !important;
}

.px-3-a {
  padding-right: 1.01rem !important;
  padding-left: 1.01rem !important;
}

.px-3-b {
  padding-right: 1.02rem !important;
  padding-left: 1.02rem !important;
}

.px-3-c {
  padding-right: 1.03rem !important;
  padding-left: 1.03rem !important;
}

.px-3-d {
  padding-right: 1.04rem !important;
  padding-left: 1.04rem !important;
}

.px-3-e {
  padding-right: 1.05rem !important;
  padding-left: 1.05rem !important;
}

.px-3-f {
  padding-right: 1.06rem !important;
  padding-left: 1.06rem !important;
}

.px-3-g {
  padding-right: 1.07rem !important;
  padding-left: 1.07rem !important;
}

.px-3-h {
  padding-right: 1.08rem !important;
  padding-left: 1.08rem !important;
}

.px-3-i {
  padding-right: 1.09rem !important;
  padding-left: 1.09rem !important;
}

.px-3-j {
  padding-right: 1.1rem !important;
  padding-left: 1.1rem !important;
}

.px-3-k {
  padding-right: 1.11rem !important;
  padding-left: 1.11rem !important;
}

.px-3-l {
  padding-right: 1.12rem !important;
  padding-left: 1.12rem !important;
}

.px-3-m {
  padding-right: 1.13rem !important;
  padding-left: 1.13rem !important;
}

.px-3-n {
  padding-right: 1.14rem !important;
  padding-left: 1.14rem !important;
}

.px-3-o {
  padding-right: 1.15rem !important;
  padding-left: 1.15rem !important;
}

.px-3-p {
  padding-right: 1.16rem !important;
  padding-left: 1.16rem !important;
}

.px-3-q {
  padding-right: 1.17rem !important;
  padding-left: 1.17rem !important;
}

.px-3-r {
  padding-right: 1.18rem !important;
  padding-left: 1.18rem !important;
}

.px-3-s {
  padding-right: 1.19rem !important;
  padding-left: 1.19rem !important;
}

.px-3-t {
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
}

.px-3-u {
  padding-right: 1.21rem !important;
  padding-left: 1.21rem !important;
}
.px-3-v {
  padding-right: 1.22rem !important;
  padding-left: 1.22rem !important;
}
.px-3-w {
  padding-right: 1.23rem !important;
  padding-left: 1.23rem !important;
}

.px-3-x {
  padding-right: 1.24rem !important;
  padding-left: 1.24rem !important;
}

.px-3-y {
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
}

.px-3-z {
  padding-right: 1.26rem !important;
  padding-left: 1.26rem !important;
}

.px-3-35 {
  padding-right: 1.35rem !important;
  padding-left: 1.35rem !important;
}

.pt-2-a {
  padding-top: 0.51rem !important;
}

.pt-2-b {
  padding-top: 0.52rem !important;
}

.pt-2-c {
  padding-top: 0.53rem !important;
}

.pt-2-d {
  padding-top: 0.54rem !important;
}

.pt-2-e {
  padding-top: 0.55rem !important;
}

.pt-2-f {
  padding-top: 0.56rem !important;
}

.pt-2-g {
  padding-top: 0.57rem !important;
}

.pt-1-half {
  padding-top: 0.12rem !important;
}

.fs-navbar-toggler-1 {
  font-size: calc(4.375rem + 1.5vw) !important;
}

.fs-navbar-toggler-2 {
  font-size: calc(3.375rem + 1.5vw) !important;
}

.fs-navbar-toggler-3 {
  font-size: calc(2.375rem + 1.5vw) !important;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.pb-6 {
  padding-bottom: 4rem !important;
}

.pb-7 {
  padding-bottom: 5rem !important;
}

.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.flex-grow-half {
  flex-grow: 0.5 !important;
}

.flex-grow-third {
  flex-grow: 0.3 !important;
}

.text-bg-dark-80 {
  color: #fff !important;
  background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 0.8)) !important;
}

.text-bg-dark-50 {
  color: #fff !important;
  background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 0.5)) !important;
}
